body{
    background-color: #023e8a;
    margin: 0rem;
}

img{
    border-radius: 2%;
}

a:hover{
    text-decoration: none;
}

.firstWeb{
    background-color: #343a40;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    z-index: 1;
    
}

.firstWeb h2{
    color: aliceblue;
    display: inline-block;
    font-size: 2.5rem; 
    margin: 0;
    
}

.firstWeb h3{
    color: aliceblue;
    display: inline-block;
    padding: 1rem;
    background-color: #212529;
    margin: 0;
    
}

 a{
    color: aliceblue;
    text-decoration: none;
    
}

.animeText{
    display: inline;
    font-size: 30px;
    padding-left: 15px;
}

.linkMain{
    background-color: #001845;
    padding-top: 80px;
    padding-bottom: 30px;
}

.linkCenter{
    display: inline;
    margin-left: 400px;
}

.linkChild{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.imageCenter{
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

li a{
    color: black;    
}

.dropdown{
    display: inline-block;
}


.imgElements{
    display: flex;
    flex-wrap: wrap;
}

.trending img{
    width: 230px;
    margin: 5px;
    height: 300px;
}

.topViews img{
    width: 300px;
    margin: 5px;
    height: 350px;
}

.trending{
    flex: 70%;
    text-align: center;
}

.topViews{
    flex:30%;
    text-align: center;
}

.card{
    display: inline-block;
    margin: 5px;
    background-color:#023e8a;
    border: none;
}

.trending .card{
    width: 240px;
}

.card-text{
    color: white;
}

.container h3{
    text-align: left;
    color: white;
    margin-left: 15px;
}

.footer{
    height: 100px;
    background-color: #001845;
    padding-top: 40px;
}

.animeText2{
    display: inline;
    padding-left: 15px;
    font-size: 30px;
}

.linkFooter{
    display: inline;
    margin-left: 400px;

}